.om-os-container {
    background: rgb(0,144,221);
    background: linear-gradient(180deg, rgba(0,144,221,1) 0%, rgba(0,72,111,1) 100%);
    margin-top: 70px;
}

.om-os-container h1 {
    color: white;
    font-size: 54px;
    font-weight: normal;
    padding-top: 60px;


    
}

.om-os-container h2 {
    color: white;
    font-size: 22px;
    font-weight: lighter;
    padding-bottom: 60px;

}



