.CTA-header h2{
    font-size: 22px;
    margin-top: 40px;

}

.CTA-list p {
    font-size: 13px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 15px;
    padding: 0px;
    text-align: left;
    color: grey;
    margin-bottom: 0.2rem;

}

.CTA-text h2 {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    color: #747474;
}

@media only screen and (min-width: 1200px) {

    .CTA-header {
        margin: auto;
        text-align: center;
    }

    .CTA-header h2 {
        font-size: 30px;
    }

    .CTA-list p {
        text-align: center;
        padding: 5px;
        font-size: 18px;
        margin: 0px;

    }
};

